<!-- 
  @author Karen Camacho
  @createdate 2025/02/4
  Sección de filtros y tabla para gestionar la visualización y manipulación de los datos 
-->

<!-- Sección de filtros con Bootstrap -->
<div class="filters mat-elevation-z1">
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let filter of config?.filters; let i = index">
        
        <!-- Cada filtro ocupa 1/4 del ancho en pantallas grandes, 1/2 en medianas y 100% en móviles -->
        <div class="col-md-3 col-sm-6 col-12 mb-3">
          
          <!-- Campo de entrada de texto o numérico -->
          <mat-form-field appearance="fill" *ngIf="filter.type !== 'select' && filter.type !== 'date' && filter.type !== 'checkbox'">
            <mat-label>{{ filter.label }}</mat-label>
            <input 
            matInput 
            [type]="filter.type"
            [(ngModel)]="filters[filter.key]"
            (input)="applyFilters()" 
          />
          
          </mat-form-field>

          <!-- Campo de selección desplegable -->
          <mat-form-field appearance="fill" *ngIf="filter.type === 'select'">
            <mat-label>{{ filter.label }}</mat-label>
            <mat-select [(ngModel)]="filters[filter.key]" (selectionChange)="applyFilters()">
              <mat-option *ngFor="let option of filter.options" [value]="option.value">
                {{ option.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field appearance="fill" *ngIf="filter.type === 'date'">
            <mat-label>{{ filter.label }}</mat-label>
            <input 
              matInput 
              [matDatepicker]="picker" 
              [(ngModel)]="filters[filter.key]" 
              (dateChange)="updateDateFilter($event.value, filter.key)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          
        </div>

        <!-- Cierre de fila después de cada 4 columnas (opcional, por si es necesario ajustar) -->
        <ng-container *ngIf="(i + 1) % 4 === 0"></ng-container>

      </ng-container>
    </div>
  </div>

  <!-- Botones de acción -->
  <div class="d-flex justify-content-end mt-3">
    <!-- Botón para reiniciar los filtros -->
    <button mat-icon-button (click)="resetFilters()">
      <mat-icon>refresh</mat-icon>
    </button>

    <!-- Botón para crear un nuevo ítem -->
    <button mat-raised-button color="primary" (click)="newItem.emit()">Crear {{ config?.itemName }}</button>
  </div>
</div>




<!-- Sección de tabla -->
<div class="table-container mat-elevation-z2">
  <table mat-table [dataSource]="dataSource" class="mat-table">

    <!-- Columnas dinámicas de la tabla -->
    <ng-container *ngFor="let column of config?.columns" [matColumnDef]="column.key">
      <th mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
      <td mat-cell *matCellDef="let item">{{ item[column.key] }}</td>
      
    </ng-container>

    <!-- 📌 Columna de Acciones -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let item">
        <ng-container *ngFor="let button of config.buttons">
          <button 
            mat-icon-button 
            [color]="button.color"
            [matTooltip]="button.tooltip"
            (click)="handleAction(button.event, item)">
            <mat-icon>{{ button.icon }}</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    
      

    

    <!-- Definición de filas -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Paginador de la tabla -->
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
