<!-- Fondo del modal -->
<div class="modal-backdrop" (click)="closeModal()"></div>

<!-- Modal principal -->
<div class="modal">
  <h3 class="modal-title">{{ isViewMode ? 'Detalles de' : (selectedItem.id ? 'Editar' : 'Crear') }} {{ config?.itemName }}</h3>


  <form *ngIf="formSurvey" [formGroup]="formSurvey">
    <div class="row row-gap-3">
      <ng-container *ngIf="config?.columns?.length">
        <ng-container *ngFor="let column of config.columns; let i = index">
          <div *ngIf="column.type !== 'hidden' || column.show" [ngClass]="column.class || 'col-md-12'">

            <!-- 📌 MODO SOLO LECTURA -->
            <div *ngIf="isViewMode" class="readonly-field">
              <strong>{{ column.label }}:</strong>

              <!-- 📌 FECHA (Solo en dd/MM/yyyy) -->
              <ng-container *ngIf="column.typeInput === 'date'">
                <span>
                  {{ formatDate(formSurvey.get(column.key)?.value) }}
                </span>
              </ng-container>
              
              
              <!-- 📌 RANGO DE FECHAS -->
              <ng-container *ngIf="column.typeInput === 'date-range'">
                <span>
                  {{ formSurvey.get(column.key)?.value?.start_date ? (formSurvey.get(column.key)?.value?.start_date | date:'dd/MM/yyyy') : 'Sin información' }}
                   - 
                  {{ formSurvey.get(column.key)?.value?.end_date ? (formSurvey.get(column.key)?.value?.end_date | date:'dd/MM/yyyy') : 'Sin información' }}
                </span>
              </ng-container>

              <!-- 📌 ARCHIVO (Descargar si existe) -->
              <ng-container *ngIf="column.type === 'file'">
                <a *ngIf="formSurvey.get(column.key)?.value?.name"
                   [href]="getFileUrl(column.key)"
                   [attr.download]="formSurvey.get(column.key)?.value?.name">
                  {{ formSurvey.get(column.key)?.value?.name || 'Sin archivo adjunto' }}
                </a>
                <span *ngIf="!formSurvey.get(column.key)?.value?.name">Sin archivo adjunto</span>
              </ng-container>

              <!-- 📌 CHECKBOX (Sí acepto / No acepto) -->
              <ng-container *ngIf="column.typeInput === 'checkbox'">
                <span>{{ formSurvey.get(column.key)?.value ? 'Sí acepto' : 'No acepto' }}</span>
              </ng-container>
              <!-- 📌 PREGUNTAS (Solución a [object Object]) -->
              <ng-container *ngIf="column.typeInput === 'array'">
                <ul *ngIf="formSurvey.get(column.key)?.value?.length > 0; else noData">
                  <li *ngFor="let question of formSurvey.get(column.key)?.value">
                    {{ question.text.text || 'Pregunta sin texto' }}
                  </li>
                </ul>
                <ng-template #noData><span>Sin preguntas registradas</span></ng-template>
              </ng-container>
              


              <!-- 📌 TEXTO GENERAL (Solución a [object Object]) -->
              <ng-container *ngIf="column.typeInput !== 'array' && column.typeInput !== 'date-range' && column.type !== 'file' && column.typeInput !== 'checkbox'">
                <span>{{ formSurvey.get(column.key)?.value?.toString() || 'Sin información' }}</span>
              </ng-container>
            </div>

            <!-- 📌 INPUT DE TEXTO Y TEXTAREA (Edición) -->
            <mat-form-field *ngIf="!isViewMode && (column.typeInput === 'input' || column.typeInput === 'textarea') && column.type !== 'file'"
                            appearance="fill" class="w-100">
              <mat-label>{{ column.label }}</mat-label>

              <input *ngIf="column.typeInput === 'input' && column.type !== 'file'" 
                    [type]="column.type" matInput
                    [formControlName]="column.key" [placeholder]="column.label">

              <textarea *ngIf="column.typeInput === 'textarea'" matInput
                        [formControlName]="column.key" [placeholder]="column.label"></textarea>

                        <mat-error *ngIf="formSurvey.get(column.key)?.invalid">
                          <span *ngIf="formSurvey.get(column.key)?.hasError('required')">Campo requerido</span>
                          <span *ngIf="formSurvey.get(column.key)?.hasError('minlength')">Mínimo de caracteres inválido</span>
                          <span *ngIf="formSurvey.get(column.key)?.hasError('maxlength')">Máximo de caracteres inválido</span>
                          <span *ngIf="formSurvey.get(column.key)?.hasError('email')">Email inválido</span>
                          <span *ngIf="formSurvey.get(column.key)?.hasError('pattern')">Formato no válido</span>
                        </mat-error>
            </mat-form-field>

            <!-- 📌 SELECT -->
            <mat-form-field *ngIf="!isViewMode && column.typeInput === 'select'" appearance="fill" class="w-100">
              <mat-label>{{ column.label }}</mat-label>
              <mat-select [formControlName]="column.key">
                <mat-option *ngFor="let option of column.options" [value]="option.value">{{ option.text }}</mat-option>
              </mat-select>
              <mat-error *ngIf="formSurvey.get(column.key)?.invalid">Campo requerido</mat-error>
            </mat-form-field>

            <!-- 📌 CHECKBOX -->
            <div *ngIf=" !isViewMode && column.typeInput === 'checkbox'" class="w-100">
              <label>{{ column.label }}</label>
              <div *ngFor="let option of column.options">
                <mat-checkbox [formControlName]="column.key" [value]="option" [disabled]="isViewMode">
                  {{ option }}
                </mat-checkbox>
              </div>
              <mat-error *ngIf="formSurvey.get(column.key)?.invalid">Campo requerido</mat-error>
            </div>

            <!-- 📌 FECHA -->
            <mat-form-field *ngIf="!isViewMode && column.typeInput === 'date'" appearance="fill" class="w-100">
              <mat-label>{{ column.label }}</mat-label>
              <input matInput [matDatepicker]="picker" [formControlName]="column.key">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="formSurvey.get(column.key)?.hasError('required')">Campo requerido</mat-error>

            </mat-form-field>

            <!-- 📌 RANGO DE FECHAS -->
            <mat-form-field *ngIf="!isViewMode && column.typeInput === 'date-range'" appearance="fill" class="w-100" [formGroupName]="column.key">
              <mat-label>Rango de Fechas</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="start_date" placeholder="Fecha inicial">
                <input matEndDate formControlName="end_date" placeholder="Fecha final">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>

            <!-- 📌 ARCHIVO -->
            <div *ngIf="!isViewMode && column.typeInput === 'input' && column.type === 'file'" class="mb-3">
              <label>{{ column.label }}</label> <br>
              <input type="file" [accept]="column.accept" (change)="onFileChange($event, column.key)">
            </div>

            <!-- 📌 ARRAY DE PREGUNTAS -->
            <div *ngIf="!isViewMode && column.typeInput === 'array'" class="mb-3">
              <label>{{ column.label }}</label>
              <div formArrayName="{{ column.key }}">
                <div *ngFor="let question of options(column.key).controls; let i = index" [formGroupName]="i">
                  <input type="text" matInput formControlName="text" placeholder="Escribe una pregunta">
                  <button type="button" mat-icon-button color="warn" (click)="removeOption(column.key, i)">🗑️</button>
                </div>
              </div>
              <button type="button" mat-raised-button color="primary" (click)="addOption(column.key)">➕ Agregar Pregunta</button>
              <mat-error *ngIf="formSurvey.get(column.key)?.invalid">Debe agregar al menos una pregunta.</mat-error>

            </div>

          </div>
        </ng-container>
      </ng-container>

      <!-- BOTONES -->
      <div class="row py-3 d-flex justify-content-end btn-container ">
        <div class="col-md-3">
          <button type="button" mat-raised-button class="botones w-100" (click)="closeModal()">Cerrar</button>
        </div>
        <div class="col-md-3" *ngIf="!isViewMode">
          <button type="button" mat-raised-button color="primary" class="botones w-100"  (click)="submitForm()">Guardar</button>
        </div>
      </div>
    </div>
  </form>
</div>
